#about{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}