nav.navbar 
    .navbar_list 
        .navbar_brand 
            a.navbar_logo(href="/")
                img(data-src="https://cdn-icons-png.flaticon.com/512/2301/2301788.png", alt="img") 
        .navbar_wrapper
            a.navbar_link(href="/about") About 
            a.navbar_link(href="/cases") Cases 
            a.navbar_link(href="/detail") Detail 