.preloader 
    p.preloader_text
        span| Hello From preloader br
        span| Hello From preloader1 br
        span| Hello From preloader2 br
        a.preloader_enter_btn(href="#") click me

    button.preloader_number 0%
