extends ../base.pug


block variables
  - var template  = 'about'

block content
    #about.about 
      h1.about_title Hello About Page
      h3.about_sub_title Hello Sub title
      img(src="https://cdn-icons-png.flaticon.com/512/2301/2301826.png", alt="")