extends ../base.pug

block variables
  - var template  = 'cases'

block content
    #cases.cases 
      h1.cases_title Hello cases Page
      h3.cases_sub_title Hello Sub title
      img(src="https://cdn-icons-png.flaticon.com/512/2301/2301826.png", alt="")