extends ../base.pug

block variables
  - var template  = 'detail'

block content
    #detail.detail 
      h1.detail_title Hello detail Page
      h3.detail_sub_title Hello Sub title
      img(src="https://cdn-icons-png.flaticon.com/512/2301/2301826.png", alt="")