// ulits
@import './ulits/respons';
@import './ulits/fonts';

// componenets

@import './componenets/navbar';
@import './componenets/preloader';

//pages

@import './pages/home';
@import './pages/cases';
@import './pages/detail';
@import './pages/about';


body{
  margin: 0;
//   background-color: rebeccapurple;
  padding: 0;
  overflow-x: hidden;
}


#webgl{
  height: 100vh;
  width: 100%;
  position: relative;
  canvas{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}